@font-face {
  font-family: "KoPubWorld";
  src: url("../public/assets/fonts/KoPubWorld\ Dotum_Pro\ Light.woff")
    format("woff");
}

@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("../public/assets/fonts/아리따-돋움\(TTF\)-Medium.woff")
    format("woff");
  /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); */
}

:root {
  font-family: "Arita-dotum-Medium", "KoPubWorld", Arial, Helvetica, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.125;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --martha-font-arita-dotum-medium: "Arita-dotum-Medium";
  --martha-font-kobpubworld: "KoPubWorld";
  --martha-primary-bg-color: #e6f8ff;
  --martha-secondary-bg-color: #ff0604;
  background-color: var(--martha-primary-bg-color);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
